<module-header [title]="title"></module-header>

<ion-content class="ion-padding">
    <div class="btn-container">
        <button class="coli-btn coli-btn-w-icon" [routerLink]="'regime-form'">
            <ion-icon name="add-circle"></ion-icon>
            <span>Ajouter un régime</span>
        </button>
    </div>

    <module-regime-table [regimeList]="regimeList" [isEditable]="true" (onEdit)="editRegime($event)"
        (onDelete)="deleteRegime($event)"></module-regime-table>

    <div class="return-container">
        <button class="coli-btn coli-btn-w-icon" [routerLink]="'../'">
            <ion-icon name="arrow-back-circle"></ion-icon>
            <span>Retour</span><ion-icon name="arrow-back-circle"></ion-icon>
        </button>
    </div>

</ion-content>