<ion-content>
    <app-regime-status [regime]="regime"></app-regime-status>

    <form>
        <p>En quittant votre chantier, vous rendez le matériel à l'exploitant</p>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <p>Ce matériel est disponible</p>
                </ion-col>

                <ion-col>
                    <input type="radio" name="equipment-status" id="equipment-status-yes">
                    <label for="equipment-status-yes">Oui</label>

                    <input type="radio" name="equipment-status" id="equipment-status-no">
                    <label for="equipment-status-no">Non</label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <p>Statut de l'activité</p>
                </ion-col>

                <ion-col>
                    <input type="radio" name="activity-status" id="activity-status-yes">
                    <label for="activity-status-yes">Oui</label>

                    <input type="radio" name="activity-status" id="activity-status-no">
                    <label for="activity-status-no">Non</label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>