.container {
    margin: auto;
    overflow-x: scroll;
}

.regime-form {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

label {
    color: white;
    font-weight: bold;
}

.button-zone {
    display: flex;
    justify-content: center;

    button {
        margin: 1em;
    }
}