<ion-content class="ion-padding">
    <div class="container">
        <form class="regime-form">
            <div>
                <input type="radio" name="regime-action" id="remove-action" [value]="0" [(ngModel)]="regimeAction">
                <label for="remove-action">Retirer une attestation</label>
            </div>

            <div>
                <input type="radio" name="regime-action" id="withdraw-action" [value]="1" [(ngModel)]="regimeAction">
                <label for="withdraw-action">Rendre une attestation</label>
            </div>

            <div>
                <input type="radio" name="regime-action" id="print-action" [value]="2" [(ngModel)]="regimeAction">
                <label for="print-action">Imprimer un duplicata d'attestation</label>
            </div>
        </form>

        <table>
            <thead>
                <tr>
                    <th class="regime-col">Régime/A2X</th>
                    <th class="demande-col">Demande</th>
                    <th class="OT-col">OT</th>
                    <th class="RF-col">RF</th>
                    <th class="label-col">Libéllé de l'attestation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let regime of regimeList" (click)="toAction(regime)">
                    <td class="regime-col">{{regime.id}}</td>
                    <td class="demande-col">{{regime.requestNumber}}</td>
                    <td class="OT-col">{{regime.ot}}</td>
                    <td class="RF-col">{{regime.rf}}</td>
                    <td class="label-col">{{regime.label}}</td>
                </tr>
            </tbody>
        </table>

        <div class="button-zone">
            <button class="coli-btn" (click)="moveBack()">Retour</button>
        </div>
    </div>
</ion-content>