table {
    table-layout: fixed;
    width: 500px;
}

table,
th,
td {
    border: 1px white solid;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

tr:nth-child(odd) {
    color: white;
}

tr:nth-child(even) {
    color: lightblue;
}


.regime-col {
    width: 200px;
}

.demande-col {
    width: 200px;
}

.OT-col {
    width: 200px;
}

.RF-col {
    width: 200px;
}

.label-col {
    width: 400px;
}

.container {
    margin: auto;
}

.regime-form {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

label {
    color: white;
    font-weight: bold;
}