table {
    table-layout: fixed;
    width: 100%;
}

table,
th,
td {
    border: 1px white solid;
    border-collapse: collapse;
    overflow-x: auto;
}

th,
td {
    padding: 5px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

tr:nth-child(odd) {
    color: white;
}

tr:nth-child(even) {
    color: lightblue;
}


.regime-col {
    width: 10em;
}

.demande-col {
    width: 10em;
}

.OT-col {
    width: 10em;
}

.RF-col {
    width: 10em;
}

.label-col {
    width: 20em;
}

.container {
    margin: auto;
    overflow-x: scroll;
}

.regime-form {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

label {
    color: white;
    font-weight: bold;
}

.return-btn {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.return-btn>button {
    text-align: right;
    // width: 100px;
    // height: 40px;
    padding: 5px;
    font-weight: bold;
    color: darkblue;
}