<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="badgeNumberUser">N° de badge</label>
        <input type="text" [(ngModel)]="user.badgeNumber" required pattern="^[0-9]*$" name="badgeNumberUser"
            id="badgeNumberUser">
    </div>

    <div class="form-group">
        <label for="NniUser">NNI</label>
        <input type="text" [(ngModel)]="user.nni" required pattern="^[a-zA-Z0-9]{8}$" name="NniUser" id="NniUser">
    </div>

    <div class="form-group">
        <label for="passwordUser">Mot de passe Sésame</label>
        <input type="password" name="passwordUser" id="passwordUser">
    </div>

    <div class="form-group-btn">
        <button type="submit">Se connecter</button>
    </div>
</form>