<div class="end-form">
    <p>Vous serez automatiquement déconnecté dans 6 secondes</p>

    <ion-grid>
        <ion-row>
            <ion-col>
                <button class="coli-btn coli-btn-w-icon" [routerLink]="['/login']">
                    <ion-icon name="power"></ion-icon>
                    <span>Se déconnecter</span>
                </button>
            </ion-col>

            <ion-col>
                <button class="coli-btn coli-btn-w-icon" [routerLink]="['/regime-search']">
                    <ion-icon name="scan"></ion-icon>
                    <span>Sélectionner un chantier</span>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>