// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-background-color: #00008b;
    --ion-toolbar-background: rgb(60, 177, 206);
}

ion-content {
    padding: env(safe-area-inset);
    --background: #00008b;
}

.coli-btn {
    padding: 1em;
    width: 20em;
    text-align: right;
    font-weight: bold;
    color: darkblue;
}

.coli-btn-w-icon {
    display: flex;
    justify-content: space-between;
}