// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-background-color: darkblue;
}

.coli-btn {
    padding: 1em;
    padding-left: 2em;
    text-align: right;
    font-weight: bold;
    color: darkblue;
}