<module-header [title]="title"></module-header>

<ion-content class="ion-padding">
    <form #regimeSearch="ngForm">

        <ion-grid>

            <ion-row>
                <ion-col>
                    <h3 class="form-title">Scannez vos références</h3>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <input type="text" #regimeId name="regimeId" id="regimeId">
                </ion-col>
                <ion-col size="4">
                    <button class="coli-btn" (click)="queryRegimes(regimeId.value)">Valider</button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <button class="coli-btn" (click)="queryRegimes('')">Accéder à votre liste d'attestations</button>
                </ion-col>
            </ion-row>

        </ion-grid>

    </form>
</ion-content>