input {
    width: 100%;
    padding: 5px;
}

.form-title {
    text-align: right;
    color: white;
}

.validator-button {
    text-align: right;
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
}

.one-line {
    display: flex;
}