<module-header [title]="title" [hideRightPart]="true"></module-header>


<ion-content class="ion-padding">

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-sm="5">
                    <label for="badgeNumberUser">N° de badge</label>
                </ion-col>
                <ion-col size="12" size-sm="7">
                    <input type="text" [(ngModel)]="user.badgeNumber" required pattern="^[0-9]*$" name="badgeNumberUser"
                        id="badgeNumberUser" #badgeNumberUser="ngModel" (dblclick)="debugFillAdminform()">
                    <div *ngIf="badgeNumberUser.invalid && badgeNumberUser.touched">
                        <div class="error-msg" *ngIf="badgeNumberUser.errors?.['required']">Ce champ est requis
                        </div>
                        <div class="error-msg" *ngIf="badgeNumberUser.errors?.['pattern']">Seuls les chiffres sont
                            autorisés
                        </div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-sm="5">
                    <label for="NniUser">NNI</label>
                </ion-col>
                <ion-col size="12" size-sm="7">
                    <input type="text" [(ngModel)]="user.nni" required pattern="^[a-zA-Z0-9]{8}$" name="NniUser"
                        id="NniUser" #nniUser="ngModel">
                    <div *ngIf="nniUser.invalid && nniUser.touched">
                        <div class="error-msg" *ngIf="nniUser.errors?.['required']">Ce champ est requis</div>
                        <div class="error-msg" *ngIf="nniUser.errors?.['pattern']">Doit être exactement 8 caractères
                            alphanumériques
                        </div>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-sm="5">
                    <label for="passwordUser">Mot de passe Sésame</label>
                </ion-col>
                <ion-col size="12" size-sm="7">
                    <input type="password" [(ngModel)]="user.password" name="passwordUser" id="passwordUser" required
                        #passwordUser="ngModel">
                    <div *ngIf="passwordUser.invalid && passwordUser.touched">
                        <div class="error-msg" *ngIf="passwordUser.errors?.['required']">Ce champ est requis</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="form-group-btn">
            <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
        </div>

    </form>
</ion-content>