.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px white solid;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

tr:nth-child(odd) {
    color: white;
}

tr:nth-child(even) {
    color: lightblue;
}

.regime-col,
.demande-col,
.OT-col,
.RF-col {
    width: 15%;
}

.label-col {
    width: 25%;
}

.action-col-content {
    text-align: center;
}

.icon {
    padding-left: 10px;
    padding-right: 10px;
}

.orientation-message {
    text-align: center;
    color: gray;
    font-size: 0.9em;
    margin-bottom: 10px;
}


/* Hide non-essential columns on small screens */
@media (max-width: 600px) {

    .label-col,
    .RF-col,
    .OT-col {
        display: none;
    }

    .regime-col,
    .demande-col {
        width: 50%;
    }
}

/* Hides messages on large screens */
@media (min-width: 601px) {
    .orientation-message {
        display: none;
    }
}